.footerMainDiv {
	background-color: #424242;
	//flex-shrink: 0;
	//min-height: 70px;
}

.linkGithub {
	display: block;
	margin: 0 auto;
	height: 70px;
	width: 70px;
	background-image: url('../../img/github1.png');
	background-size: 70px 70px;
	cursor: pointer;
}