.userIconCheckbox:checked ~ .dropdown-content {
    display: block;
    pointer-events: auto;
}

.headerMainDiv {
	background-color: #424242;
	min-height: 70px;
	//background: url('../../img/greyBackground1.jpg');
}

.headerMainText {
	float: left;
	background-color: rgba(0,0,0,0);
	border: none;
	width: 150px;
	height: 70px;
	font-weight: 500;
	color: white;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	letter-spacing: 4px;
	cursor: pointer;
	font-family: "Impact", Georgia, Serif;
}

.userIconDiv {
	width: 70px;
    height: 70px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 50%;
}

.userIconCheckbox {
    background: url('../../img/profileIcon.jpg');
    background-size: 70px 75px;
    width: 70px;
    height: 70px;
    float: right;
    border-radius: 50%;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.dropdown-content {
	pointer-events: none;
	display: none;
	border-radius: 5px;
	position: absolute;
	background-color: #424242;
	width: 105px;
	margin-top: 87px;
	margin-left: -20px;
	align-items: center;
}


.loginButton {
	text-align: center;
	display: inline-block;
	background-color: rgba(0,0,0,0);
	border: none;
	width: 105px;
	height: 2px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	letter-spacing: 4px;
	cursor: pointer;
	font-family: "Impact", Georgia, Serif;
}

.registerButton {
	text-align: center;
	display: inline-block;
	background-color: rgba(0,0,0,0);
	border: none;
	width: 105px;
	height: 2px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	letter-spacing: 4px;
	cursor: pointer;
	font-family: "Impact", Georgia, Serif;
}

.modalBackground {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.5);
}

.modalBackground:target {
	display: inline-block;
	pointer-events: auto;
}

.modalLogin {
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 400px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	background-color: #424242;
	border-radius: 5px;
}

.modalLoginClose {
	position: absolute;
	top: 1px;
	right: 1px;
	height: 30px;
	width: 30px;
	font-size: 30px;
	text-decoration: none;
	color: white;
}

.modalLoginClose:visited {
	text-decoration: none;
}













